[submodule "bundle-available/NERD_Tree"]
	path = bundle-available/NERD_Tree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle-available/jade"]
	path = bundle-available/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle-available/surround"]
	path = bundle-available/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle-available/tagbar"]
	path = bundle-available/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle-available/autoclose"]
	path = bundle-available/autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle-available/vim-rails"]
	path = bundle-available/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle-available/fugitive"]
	path = bundle-available/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle-available/command-t"]
	path = bundle-available/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle-available/vim-coffee-script"]
	path = bundle-available/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle-available/vim-stylus"]
	path = bundle-available/vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "bundle-available/ctrlp"]
	path = bundle-available/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
