[submodule "bundle-available/NERD_Tree"]
	path = bundle-available/NERD_Tree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle-available/jade"]
	path = bundle-available/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle-available/surround"]
	path = bundle-available/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle-available/tagbar"]
	path = bundle-available/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle-available/autoclose"]
	path = bundle-available/autoclose
	url = git://github.com/Townk/vim-autoclose.git
